

.header-bg{
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.side-nav-ul >li {
  background-color:#f8f9fa;
  color: #8795a1 !important;
}

.side-nav-ul >li >a{
  color: #8795a1;
}
.side-nav-ul >li >a:hover{
  color: #3490dc;
  font-weight: bold;
  text-decoration: none;
}

.active-link{
  color: #3490dc !important;
  font-weight: bold;
  text-decoration: none;
}

.new-complaint-btn{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   color: #ffffff;
   background-color: #3490dc;
   border-radius: 50px;
}
.not-spotlight-btn{
   color: black;
   background-color: #ffffff;
   border-radius: 50px;
   border: 1px solid black;
}

.complain-type-l{
  border-radius: 50px;
  border: 1px solid red;
  color: red;
  /* padding: 10px; */
}
.complain-type-g{
  border-radius: 50px;
  border: 1px solid #26c6da;
  color:#26c6da ;
  /* padding: 10px; */
}

.mini-complain-card:hover{
  cursor: pointer;
  background-color: #eeeeee;
}
.mini-complain-card h5 > a{
  color: black;
  text-decoration: none;
}

table > thead > tr > th {
  color: #3490dc ;
}

.escalate{
  border-radius: 50px;
  border: 1px solid grey;
  font-weight: bold;
  color:#9e9e9e  ;
}
.escalate:hover{
  border-radius: 50px;
  background-color: #3490dc;
  color: #ffffff;
  border: 1px solid #3490dc;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.reply-btn{
  color: #9e9e9e;
  font-weight: bold;
}

/* #complain-reply{
  border-left: 0;
  border-right: 0;
  border-radius: 0;
} */
textarea {
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
}

.reply-form-container{
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}
